<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>

Add/Edit User:
<form action="/addUser" method="post">
    <input th:if="${user != null}" type="hidden" th:value="${user.id}" name="id">
    Name: <input type="text" name="name" th:value="${user == null} ? '' : ${user.name}"/><br>
    Surname: <input type="text" name="surname" th:value="${user == null} ? '' : ${user.surname}"/><br>
    Phone: <input type="text" name="phone" th:value="${user == null} ? '' : ${user.phone}"/><br>
    Email: <input type="email" name="email" th:value="${user == null} ? '' : ${user.email}"/><br>
    Password: <input type="password" name="password" th:value="${user == null} ? '' : ${user.password}"/><br>
    <input type="submit" value="save">
</form>


</body>
</html>
